* {
  margin: 0;
  padding: 0;
  font-family: 'PT sans'; }

.container {
  height: 600px;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  padding: 2%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.titles {
  padding: 75px;
  text-align: center; }

h2 {
  margin-bottom: 15px; }

a {
  text-decoration: none;
  color: gray; }

li {
  list-style: none; }

.bg-yellow {
  width: 100%;
  background: #fcdb00; }

.header {
  background: #fcdb00;
  color: black; }

#header1 {
  padding: 30px 0; }

#header1 img {
  float: left; }

.menu {
  float: right; }

.menu li {
  color: black;
  float: left;
  margin-right: 60px;
  font-size: 20px; }

.menu-tablet {
  display: none; }

.content-header {
  float: left; }

.info-header {
  text-align: center; }

.info-left {
  margin-top: 10%;
  width: 40%; }

.info-left h2 {
  margin-bottom: 3%; }

.info-left p {
  padding-bottom: 5%; }

.icons-header {
  float: left;
  margin: 7%; }

.img-tablet {
  float: right;
  height: 360px;
  margin-right: 10%; }

h3 {
  margin: 5px; }

.info {
  width: 31%;
  margin: 1%;
  float: left; }

.info img {
  width: 32px;
  float: left;
  padding: 3%; }

.info p {
  width: 200px;
  margin-left: 60px; }

.container_tablet {
  margin-top: -500px; }

.txt-tablet {
  width: 31%;
  margin: 15px; }

.txt-tablet p {
  width: 200px; }

.txts {
  float: right;
  margin-top: -275px; }

.content {
  display: none; }

.bg-black {
  background: black; }

#footer {
  color: #fcdb00; }

.color-gray {
  color: gray; }

.email {
  text-align: center; }

input {
  height: 35px;
  width: 380px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  border: 0 solid;
  margin-right: 25px; }

button {
  border-radius: 4px;
  border: 0 solid;
  height: 45px;
  width: 170px;
  font-size: 16px;
  background: #fcdb00;
  color: black;
  font-family: "PT sans";
  text-align: center; }

.links_container {
  margin: 1%;
  text-align: center; }

.links_container ul {
  margin: 4%;
  width: 120px;
  float: left; }

.sprite {
  text-align: center;
  margin: 3%; }

.sprite a {
  background: url(../img/sprite.png);
  background-repeat: no-repeat;
  padding: 45px 0;
  margin: 1%; }

.twitter {
  background-position: 100px 0; }

.links li {
  color: gray; }

@media (max-width: 992px) {
  .container {
    height: 600px;
    width: 992px;
    margin: 0 auto;
    align-items: center;
    padding: 2%; }

  .links_container ul {
    margin: 2%; } }
@media (max-width: 768px) {
  * {
    overflow-x: hidden; }

  #header1 img {
    margin-left: 20%; }

  .img-tablet {
    display: none; }

  .menu li {
    display: none; }

  .info-left {
    margin: 10% 18%; }

  .titles {
    margin: 0;
    padding: 0; }

  .content {
    display: none; }

  .container_tablet {
    display: block; }

  .container_tablet {
    text-align: center; }

  .content-tablet {
    margin: 1%;
    width: 18%; }

  .content-tablet p {
    width: 50px; }

  .image-tablet {
    top: 0; }

  .content-tablet2 {
    margin: 1%;
    width: 18%;
    float: left; }

  .content-tablet2 p {
    width: 50px; } }

/*# sourceMappingURL=styles.css.map */
