@media (max-width: 992px){
    //header 
    .container{
        width: 992px;
        margin: 0 auto;
        align-items: center;
        padding: 2%;
    }
    .links_container ul{
        margin: 2%;
    }

}