@media (max-width: 992px){
    .container{
        height: 600px;
        width: 992px;
        margin: 0 auto;
        align-items: center;
        padding: 2%;
    }
    .links_container ul{
       margin: 2%;
    }

}