@media (max-width: 768px){
    //header
    .container{
        width: 768px;
    }
    .menu{
        display: none;
    }
    .img-tablet{
        display: none;
    }
    //contendor central
    .desktop{
        display: none;
    }
    .container-tablet{
        display: block;
    }
    //footer


}