h3{
    margin: 15px;
}
.info{
    width: 275px;
    height: 115px;
    margin: 40px 32px;
    float: left;
}
.info_txt{
    top: 0;
}
.info img {
    padding: 5px;
    height: 35px;
    float: left;
}
.info p {
    margin-top: 10px;
    width: 200px;
    margin-left: 50px;;
}
