h3{
    margin: 5px;
}
.info{
    width:31%;
    margin: 1%;
    float: left;
}
.info img {
    width: 32px;
    float: left;
    padding: 3%;
}
.info p {
    width: 200px;
    margin-left: 60px;
}
//informacion de tablet/mobile
.left-txt , .right-txt {
    width: 30%;
}
.txt-tablet{    
    padding: 2%;
    margin-top: 10%;
}
.txt-tablet p{
    padding: 4%;
}
.left-txt{
    float: right;
}
.image-tablet{
    float: right;
    width: 30%;
}
.image-tablet img {
    height: 350px;
    margin-left: -10%;
}
.container-tablet{
    display: none;
}