h3{
    margin: 5px;
}
.info{
    width:31%;
    margin: 1%;
    float: left;
}
.info img {
    width: 32px;
    float: left;
    padding: 3%;
}
.info p {
    width: 200px;
    margin-left: 60px;
}
.container_tablet{
    margin-top: -500px;
}
.txt-tablet{
    margin: 15px;

}
.txt-tablet p {
    width: 200px;
}
.txts{
    float: right;
    margin-top: -275px;
}
.content{
    display: none;
}