.bg-yellow{
    width: 100%;
    background: $color-header;
}
.header{
    background: $color-header;
    color: black;
}
#header1{
    padding: 30px 0;
}
#header1 img{
    float: left;
}
.menu{
    float: right;
}
.menu li{
    color: black;
    float: left;
    margin-right: 60px;
    font-size: 20px;
}
.menu-tablet{
    display: none;
}
.content-header{
    float: left;
}

.info-header{
    text-align: center;
}
.info-left{
    margin-top: 10%;
    width: 40%;
}
.info-left h2 {
    margin-bottom:3%;
}
.info-left p{
    padding-bottom: 5%;
}
.icons-header{
    float: left;
    margin: 7%;
}
.img-tablet{
    float: right; 
    height: 360px;
    margin-right: 20px;
}