.bg-yellow{
    width: 100%;
    background: $color-header;
}
.header{
    background: $color-header;
    color: black;
}
#header1{
    padding: 50px 0;
}
#header1 img{
    float: left;
}
.menu{
    float: right;
}
.menu li{
    color: black;
    list-style: none;
    float: left;
    margin-left: 70px;
    font-size: 22px;
}
.content-header{
    float: left;
}
.info-header{
    text-align: center;
}
.info-left{
    margin-top: 120px;
    width: 40%;
}
.info-left h2 {
    margin-bottom: 20px;
}
.info-left p{
    padding-bottom: 20px;
}
.icons-header{
    float: left;
    margin-right: 30px;
}
.img-tablet{
    float: right; 
}