.bg-yellow{
    width: 100%;
    background: $color-header;
}
.header{
    background: $color-header;
    color: black;
}
#header1{
    padding: 50px; 
}
#header1 img{
    float: left;
}
.menu{
    float: right;
}
.menu li{
    color: black;
    list-style: none;
    float: left;
    margin-left: 70px;
    font-size: 22px;
}
.info-header{
    float: left;
}
.icons-header{
    float: left;
}
.img-tablet{
    float: right; 
}