*{
    margin: 0;
    padding: 0;
    font-family: 'PT sans';
}
.container{
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 2%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.titles{
    padding:10%; 
    text-align: center
}
h2{
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    color: gray;
}
li{
    list-style: none;
}

